@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


.glow-box {
  border-radius: 8px;
  background: #fff;
  transition: all 1s ease;
}

.glow-box:hover {
  box-shadow:
    0 0 10px 0 #ffffff,
    0 0 36px 8px #ffffff,
    0 0 130px 32px #ffffff;
}